<div class="container">
  <h1>Todo List</h1>
  <form class="add-form" (ngSubmit)="addItem();">
    <input type="text" [formControl]="titleCtrl" placeholder="Add a new item"  aria-label="Add a new item" />

    <button type="submit" [disabled]="titleCtrl.invalid||loading()">Add</button>
  </form>

  <div *ngIf="error()" class="error">{{error()}}</div>
  <div *ngIf="loading()" class="loading">Loading...</div>
  
  <ul *ngIf="!loading() && items() as items" class="todo-list">
    <li *ngFor="let t of items; trackBy: trackById" [class.completed]="t.isDone">
      <label class="toggle">
        <input type="checkbox" class="round"[checked]="t.isDone" (change)="toggleDone(t)" />
      </label>
      <span class="title">{{t.title}}</span>
      <button class="delete" (click)="deleteItem(t.id)">Delete</button>
    </li>

    <li *ngIf="items.length === 0" class="empty">No Todo items</li>
  </ul>

  </div>